<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>MyLearning Angular JS</title>

	<link href="_bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="_bootstrap/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script type="text/javascript" src="app.js"></script>

	<style>
			.panel{width: 400px};
	</style>
</head>
<body>
	<h1>Tutorial Angular JS</h1>
	<div ng-controller="myCtrl">

		<div>
			<p>The calories in {{water.servingSize}} of {{water.name}} is <input ng-model="water.calories"/></p>


			<p>The calories in {{blackEyedPeas.servingSize}} of {{blackEyedPeas.name}} <input ng-model="blackEyedPeas.calories"/></p>
		</div>

		<nutritions-facts food="blackEyedPeas" update="updateCalories(foodName, calories)"></nutritions-facts>
		<nutritions-facts food="water" update="canUpdate()"></nutritions-facts>
	</div>
</body>
</html>